.books-card-list__button {
  width: calc(100% - 60px);
  margin: 50px 30px 80px;
  padding: 11px 0 9px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  background-color: #214ea5;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: background-color 0.2s ease-in-out 0s !important;

  transition: all 0.5s ease-in-out 0s;
}

.books-card-list__button:hover {
  background-color: black;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .books-card-list__button {
    width: calc(100% - 30px);
    margin: 50px 15px 80px;
  }
}