@import url("./__logo/header__logo.css");

.header {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  outline: 1px solid red;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}