@import url("./__image/book-card__image.css");
@import url("./__title/book-card__title.css");
@import url("./__author/book-card__author.css");
@import url("./__overley/book-card__overley.css");

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 365px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .book-card {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .book-card {
    width: 340px;
  }
}